body {
  background: #eee;
  font-family: sans-serif;
}
/* Solution I did at first time, I had the same visual aspect
.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  border: 8px solid white;
  margin-bottom: auto;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  border: 8px solid white;
  margin: -8px auto;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  border: 8px solid white;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin-left: 35%;
}
*/

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
}